a{
    text-decoration: none;
    color: inherit;
}

#header {
    background: purple;
    height: 25%;
    width: 100%;
    padding: 5%;
}

body{
    margin: 0;
    background: beige;
}

.text{
    padding: 5%;
    color: black;
}

.project_title {
    color: red;
    border: 1px;
    font-size: 25px;
}

.project_content {
    display: none;
}

.project {
    /* background-color: violet; */
    border-radius: 5px;
    border-color: purple;
    border: solid;
    border-width: 2px;
    margin: 1%;
    padding: 1%;
    box-shadow: 0 0 10px purple;
}