#right_menu, #left_menu {
    position: absolute;
    margin: 2%;
}

main {
    font-size: 20px;
    position: relative;
    width: 90%;
}


#left_menu {
    width: 20%;
    left: 0px;
}

#right_menu {
    width: 75%;
    right: 0px;
    padding: 5px;
    padding-bottom: 50px;
}

#left_menu table {
    width: 100% ;
}

#left_menu table td {
    border: solid purple 2px;
    color: purple;
    width: 100%;
    padding: 4%;
}

#left_menu table td:hover {
    border: solid purple 2px;
    color: white;
    font-weight: bold;
    background-color: purple;

}

.kod {
    font-family: monospace;
    background-color: #B2B2B2;
    padding: 2%;
}

#pocetak {
    background-color: purple;
    color: white;
    z-index: 5;
    position: fixed;
    bottom: 0;
    right: 0px;
    padding: 10px;
    margin: 10px;
}

.basic_underline {
    border-collapse: collapse;
}

.basic_underline td{
    width: inherit;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid black 1px;
}
.zadatak {
    font-style: italic;
}

.domaci {
    background-color: #B4CFB0;
    padding: 2%;
}

h1 {
    border-top: solid purple 4px;
    padding-top: 20px;
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

tab {
    width: 2em;
    display: inline-block;
}

.resenje_btn {
    background-color:  #FFCB42;
    width: 100%;
    font-style: italic;
}

.resenje_btn:hover  {
    background-color:  #B6E388;
    font-style: italic;
    font-weight: bold;
}

dl {
    margin-left: 20px;
}
dt {
    margin-top: 20px;
/*    text-decoration: underline; */
    font-weight: bold;
    border-bottom: solid black 2px;
}

#relacione-tabele {
    /* border: solid black 2px; */
    width: 100%;
    border-spacing: 10px;
}

#relacione-tabele td {
    background-color: rgb(184, 213, 205);
    vertical-align: top;
    padding: 10px;
}
#relacione-tabele th {
    background-color: rgb(158, 187, 179);
    padding: 15px;
}

.tabela_rokova td{
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}

.tabela_rokova td:hover{
    background-color: darkblue;
    color: lightblue;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.obavestenje {
    background-color: rgba(102, 76, 109, 0.4);
    padding: 10px;
    margin: 10px;
}

.triangle {
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
    background: #B2B2B2;
    padding: 10px;
    border-radius: 5%;
    margin-bottom: 50px;
    padding-top: 25px;
}

.triangle-end {
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
    background: #B2B2B2;
    padding: 10px;
    border-radius: 5%;
    padding-top: 25px;
}

.triangle::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    bottom: -2em;
    left: 50%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #B2B2B2 #B2B2B2;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: 0px 3px 3px 0 rgba(o, 0, 0, 0.4);
}

.trigger-tabela {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.trigger-tabela td:first-child{
    font-weight: bold;
    text-align: left;
    width: 20%;
}

.trigger-tabela td {
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    width: 40%;
}

.trigger-tabela th {
    font-weight: bold;
}

