
#header {
    background-image: linear-gradient(to right, purple , pink);
    height: 10%;
    width: 90%;
    padding: 5%;
    font-size: 30px;
    color: beige;
}

body{
    margin: 0;
    background: beige;
}

.text{
    padding: 5%;
    color: black;
}

h1 {
    color: purple;
    border: 1px;
    font-size: 25px;
}

.project_content {
    display: none;
}

img {
    display: block;
    width: 30%;
    margin: auto;
}

.project {
    /* background-color: violet; */
    border-radius: 5px;
    border-color: purple;
    border: solid;
    border-width: 2px;
    margin: 1%;
    padding: 1%;
    box-shadow: 0 0 10px purple;
}

iframe {
    width: 100%;
    border: none;
    scroll-padding: 0;
}

#language_select {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 10px;
    top: 10px;
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    border: inset;
    color: beige;
}

#contact {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
}